*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* font */
body{
  font-family: 'PT Sans', sans-serif;
}

img{
  max-width: 100%;
}

/* UTILITY */

h2{
  color: red;
  font-size: 3rem;
}

.d-flex{
  display: flex;
}

.between{
  justify-content: space-between;
}

.wrap{
  flex-wrap: wrap;
}

.column{
  flex-direction: column;
}

.center{
  align-items: center;
  justify-content: center;
}

.align{
  align-items: center;
}

.debug{
  border: 5px dotted black;
  border-radius: 20px;
}

.fill{
  width: 100%;
}

.container{
  margin: 0 auto;
}

.nav{
  height: 75px;
}


.end{
  justify-content: flex-end;
}
/* COLORI BACKGROUND */

header{
  background-color: #0084fd;
}

.seconda{
  background-color: #9792e4;
}

.quarta{
  background-color: #9792e4;
}

.sesta{
  background-color: #9792e4;
}

.settima{
  background-color: #333333;
}

/* HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER */

.box-header{
  width: 100%;
  height: 100%;
}

header{
  position: fixed;
  top:0;
  z-index: 999;
  width: 100%;
  margin-bottom: 30px;
}




.card{
  margin: 30px;
}

.row-1{
  width: 100%;
}

.row-2{
  width: 100%;
}

.row-3{
  width: 100%;
}

.box{
  width: 100%;
  margin:25px 10px
}

img{
  max-width: 100%;
  max-height: 100%; 
}

/* Primo blocco Primo blocco Primo blocco Primo blocco Primo blocco Primo blocco  */
.prima{
  margin-top: 60px;
}

.prima .box{
  background-color:#b5ddff;
}
.prima .big{
  text-align: left;
  position: relative;
}
#apple{
  background-color: #0084fd;
  padding: 10px 40px;
  border-radius: 20px;
  margin-left: 2%;
}
.prima .big i{
  color: white;
  font-size:1rem;
  margin-top: 7%;
}
.prima .big a{
  color: white;
  text-decoration: none;
}
.prima h2{
  color: #0084fd;
  font-size: 1em;
  padding-top: 5%;
}
.prima h3{
  color: #0084fd;
}
.prima i{
  color: #0084fd;
  font-size: 5.5rem; 
}
.prima p{
  color: #62778a;
  line-height: 20px;
  font-size: 1rem;  
  padding: 4% 0;
}
.prima .demo-text{
  width: 60%;
}
.prima img{
  padding-bottom: 0px;
  margin-bottom: 0px;
  width: 50%;
  padding-top: 2%;
}
/* Secondo blocco Secondo blocco Secondo blocco Secondo blocco Secondo blocco Secondo blocco  */


.seconda h3{
  color: white;
}
.seconda p{
  color: white;
}
.seconda h3{
  padding-bottom: 5%;
  font-size: 1.5rem;
}
.bulb{
  background-color: white;
}
.bulb p{
  color: black;
  padding: 5% 0;
  text-align: center;
}
.strategic-arrow{
  background-color: #9792e4;
  border-radius: 100px;
  padding: 5px 10px;
  margin-bottom: 5px;
}
.seconda .row-1{
  padding-top: 5%;
}
.seconda .row-2{
  padding-bottom: 5%;
}


/* Terzo blocco Terzo blocco Terzo blocco Terzo blocco Terzo blocco Terzo blocco  */

.terza h2{
  color: #9792e4;
}
.terza-text{
  text-align: center;
}
.terza p{
  padding: 5% 0;
  font-size: 1.3rem;
  line-height: 150%;
}
.terza .wanted{
  background-color: #9792e4;
  border-radius: 20px;
  align-items: center;
}
.terza .wanted img{
  border-radius: 100px 100px;
  height: 200px;
  width: 200px;
}
.terza .wanted p{
  color: white;
}
.terza .wanted strong{
  font-size: 2rem;
}

.terza img{
  margin:0 5%;
}




/* MEDIA QUERY MEDIA QUERY MEDIA QUERY MEDIA QUERY MEDIA QUERY MEDIA QUERY  */
@media screen and (max-width: 767px) {
  
  .prima .big{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  
  .prima .box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }

  .prima i{
    padding-top: 4%;
  }
 
  /* TERZA TERZA TERZA TERZA */

  .terza .wanted{
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  
  .terza img{
    padding: 5%;
  }

}
                  /* 768 */
@media screen and (min-width: 768px) {

  .container{
    width: 720px;
    margin: 0 auto;
  }
  .prima .row-1{
    display: flex;
  }
  .prima .row-2{
    display: flex;
  }
  .prima .row-1 .big{
    width: 60%;
  }
  .prima .row-1 .small{
    width: 40%;
  }
  .prima .box{
    background-color:#b5ddff;
  }
  .prima h3{
    color: #0084fd;
  }
  .prima i{
    color: #0084fd;
  }
  .prima p{
    color: #62778a;
  }
  .prima img{
    padding-left: 5%;
  }
  .prima img{
    width: 80%;
  }
  .prima .box{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }
  .prima .big{
    text-align: left;
  }
  .prima .demo-text{
    padding-left: 10%;
  }
  .prima h2{
    font-size: 1.1em;
  }
  .prima .row-1 .small{
    justify-content: flex-start;
  }
  .prima .small i{
    padding-top: 10%;
  }
  .prima .small h3{
    padding-top: 10%;
  }
  .prima .small p{
    padding-top: 10%;
    line-height: 30px;
  }
  .prima .big{
    position: relative;
  }
  .prima .big .img{
    position: absolute;
    bottom:0;
  }
  
  .prima .box i{
    padding-top: 5%;
  }
  /* SECONDA */
  /* TERZA */


  /* QUARTA */
  
  .quarta .box{
    width: 50%;
  }

  .quarta .row-1{
    display: flex;
    flex-wrap: wrap;
  }


  /* QUINTA */
  .quinta .card{
    display: flex;
  }

  /* SESTA */
  

}

@media screen and (min-width: 1200px) {

  .container{
    width: 1140px;
    margin: 0 auto;
  }
  header .nav .small{
    width: 40%;
  }
  header .nav .big{
    width: 60%;
  }
  .prima .container{
    width: 1140px;
    margin: 0 auto;
  }
  .prima .row-1{
    width: 100%;
  }
  .prima .row-2{
    width: 100%;
  }
  .prima .box{
    background-color:#b5ddff;
  }
  .prima .row-1 .big{
    display: flex;
    justify-content: flex-start;
    align-items: ;
    position: relative;
  }
  .prima img{
    width: 50%;
    position: absolute;
    bottom: 0;
    right: 0;
  }
  .demo-text{
    height: 50%;
    position: absolute;
    line-height: 20px;
  }
  .demo-text p{
    line-height: 20px;
  }

  .prima .box i{
    padding-top: 5%;
  }
  /* SECONDA SECONDA SECONDA */
  
  .seconda .card{
    display: flex;
    justify-content: space-between;
  }
  .seconda .row-1{
    width: 50%;
  }
  .seconda .row-2{
    width: 40%;
    position: relative;
  }
  .seconda .bulb{
    position: absolute;
    bottom:0;
    right:0
  }
  .seconda h3{
    font-size: 2rem;
  }
  

  /* TERZA */
  /* QUARTA */
  .quarta .box{
    width: 33%;
    height: 165px;
  }

  .quarta .row-1{
    display: flex;
    flex-wrap: wrap;
  }
  /* QUINTA */

}